@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to my Web App</h1>
<br />

Here is some content for you.
<br />
If you need any help, click the help buttton below.
<br />
<button>Help</button>
<br />
If you instead want a cookie, press the button.
<button>Cookie</button>

